<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/front.css">
    <title>Recipe Results🍴</title>
</head>
<body>
    <h1>✨ Explore the Recipe Kingdom 🏰🍲</h1>

    {% if recipes %}
        <div class="recipe-container">
            <ul>
                {% for meal in recipes %}
                    <li>
                        <h3>{{ meal['strMeal'] }}</h3>
                        {% if meal['strMealThumb'] %}
                            <img src="{{ meal['strMealThumb'] }}" alt="{{ meal['strMeal'] }}" style="width:200px;">
                        {% endif %}
                        <a href="{{ url_for('meal_detail', meal_id=meal['idMeal']) }}">View Details</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No recipes found. Try searching for something else!</p>
    {% endif %}
    <div style="text-align: center; margin-top: 20px;">
        <a href="/" style="color: white; background-color: #4A90E2; padding: 8px 12px; border-radius: 5px; text-decoration: none; display: inline-block;">Back to Search</a>
    </div>
    
</body>
</html>
